.example-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.full-width {
  width: 100%;
}
mat-card{
max-width: 600px;
margin: 5em auto;
text-align:center;
max-height:800px;
}

.header{
text-align:center;
}
.full-width{
width:80%;
}
.forgot-password{
padding-top:0px;
}
.email-input{
padding-top:10px;
}

.aLink{
float: right;
padding-right:60px;
text-decoration:none;
color: red;
}

a.navbar-brand {
color: rgb(172, 84, 84);
font-size: 26px;
font-weight: 800;
padding: 10px 0 0 10px;
text-transform: uppercase;
}
a.navbar-brand {
color:  #db4a39;
}
a.navbar-brand span {
color: #3B5998;
}
.header h1{
color:rgb(21, 123, 170);
font-size: xx-large;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
font-size:25px;
letter-spacing: 6px;
font-weight: 600;
text-align: center;
background-size:cover;
}
.header h2{
color:rgb(21, 123, 170);
}
.header p{
color:rgb(217, 222, 224);
}
.section{
color:rgb(217, 222, 224);
}
* {box-sizing: border-box;}

.input-container {
display: -ms-flexbox; /* IE10 */
display: flex;
width: 100%;
margin-bottom: 15px;
}



.input-field {
width: 100%;
padding: 10px;
outline: none;
}

.input-field:focus {
border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
padding: 15px 20px;
border: none;
cursor: pointer;
width: 80%;
opacity: 0.9;
}
.button{
background-color:#db4a39;
color: white;
padding: 15px 20px;
border: none;
cursor: pointer;
width: 80%;
opacity: 0.9;
}

.btn:hover {
opacity: 1;
}
